<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dikkate">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dikkate">
        <activity android:name=".Activity.Payment"></activity>
        <activity android:name=".Activity.Phone" />
        <activity android:name=".Activity.Address" />
        <activity android:name=".Activity.viewDetails" />
        <activity
            android:name=".Activity.CartPage1"
            android:label="@string/title_activity_cart_page1"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity
            android:name=".Activity.Services_Activities.Plumbers.Plumbers"
            android:label="@string/title_activity_plumbers"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity
            android:name=".Activity.Services_Activities.PestControls.PestControls"
            android:label="@string/title_activity_pest_controls"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity
            android:name=".Activity.Services_Activities.Painters.Painters"
            android:label="@string/title_activity_painters"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity
            android:name=".Activity.Services_Activities.Electricians.ELectricians"
            android:label="@string/title_activity_e_lectricians"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity
            android:name=".Activity.Services_Activities.Cleaning_Disinfection.Cleaning_Disinfection"
            android:label="@string/title_activity_cleaning__disinfection"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity
            android:name=".Activity.Services_Activities.Carpenters.Carpenters"
            android:label="@string/title_activity_carpenters"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity
            android:name=".Activity.Services_Activities.Appliance_Repair.Appliance"
            android:label="@string/title_activity_appliance"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity
            android:name=".Activity.Services_Activities.Ac_Service_and_Repair.AC"
            android:label="@string/title_activity_a_c"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity android:name=".Activity.AhoyCardView" />
        <activity
            android:name=".Activity.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity android:name=".Activity.FeedbackPage" />
        <activity android:name=".Fragment.Fragment5" />
        <activity android:name=".Activity.dialog" />
        <activity android:name=".Fragment.Fragment1" />
        <activity
            android:name=".Activity.MainUI"
            android:label="@string/title_activity_main_u_i"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity
            android:name=".Drawer"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.Dikkate.NoActionBar" />
        <activity android:name=".Activity.SignIn" />
        <activity android:name=".Activity.LoginScreen" />
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>